:root {
  --pink: #ff6b82;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f7;
}

.container {
  width: 80%;
  margin: 1rem auto;
  background-color: #fff;
  padding: 4rem;
  border: 2px solid red;
  height: max-content;
  text-align: center;
}

.container h2 {
  color: var(--pink);
  
}
